#menu_addButton_addButtonForm .form-horizontal .control-label{padding-top:0px!important;height:34px;}
.form-group{margin-bottom:20px;}
#menu_addButton_addButtonForm .form-control:focus{background-color:#fff;}
.container-fluid{padding-bottom:50px;}
