body{padding:0 30px;}
.main-content .page-content{padding:20px 20px;}
.main-content .page-content > .header{padding:20px 0;}
.append-icon i{top:2px!important;}
/*.dataTables_wrapper .row{margin-top:10px;}*/
/*.head .row .form-group{}*/
.form-control{height:34px;}
